body {
    background-color: #211A1E;
    align-content: center;
    font-family: 'Amaranth', sans-serif;
}

#choices {
    display: flex;
    justify-content: center;
    align-content: center;
}

#header {
    text-align: center;
    color: white;
}

#choiceName {
    font-size: 50px;
    margin: 0px;
    margin-top: 30px;;
}

#uuid {
    margin: 0px;
    margin-bottom: 30px;
}

#alternative1 {
    background-color: #C3423F;
}

#alternative2 {
    background-color: #5BC0eb;
}

#alternative3 {
    background-color: #9bc53d;
}


#alternative4 {
    background-color: #FDE74C;
}

#alternative5 {
    background-color: #D999B9;
}


.approveButton {
    border-radius: 10px;
}

.choice {
    margin: 15px;
    text-align: center;
    border-radius: 6px;
    width: 100%;
}

.approved {
    border: 5px solid yellow;
    filter: brightness(100%);
}

.notapproved {
    filter: brightness(50%);
}


.choice h1 {
    color: white;
    text-align: center;
    border-bottom: 2px solid white;
    margin: 5px;
    padding: 10px;
}


.addFeedback h2 {
    color: white;
    border-top: 2px solid white;
    margin: 30px 5px 5px 5px;
}

.addFeedback {
    align-items: center;
}

.feedbackInput {
    display: inline-block;
    background-color: white;
    width: 90%;
    max-width: 100%;
    height: 100px;
    overflow-wrap: break-word;
}

input {
    font-family: 'Amaranth', sans-serif;
}

.feedbackTextField {
    height: 100px;
    width: 80%;
    box-sizing: border-box;
    font-family: 'Amaranth', sans-serif;

}

.feedback p {
    background-color: white;
    margin: 10px;
    border-radius: 6px;
}


.feedbackAuthor {
    margin: 0px;
    float: left;
}

.feedbackTime {
    margin: 0px;
    float: right; 
    padding-left: 5px;
}

.userFeedback {
    padding: 5px;
    margin: 10px 10px;
    background-color: white;
    border-radius: 10px;
}

.feedbackDesc {
    display: inline-block;
    margin: 5px 0px 0px 0px;
    width: 100%;
}

#login {
    margin: auto;
    z-index: 1000;
    background-color: white;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    border-radius: 10px;
    height: 25%;
    width: 30%;
    padding: 15px;
    min-height: 275px;
    border: 1px solid black;
}

#login input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 5px;
    height: 30px;
}

#username, #password {

}

#username, #password, #createAccBtn {
    background-color: #DCDCDC;
    color: black;
}

#loginBtn {
    background-color: #9bc53d;
    color: white;
}


#login h2, h3 {
    text-align: center;
}

#loginError {
    color: #C3423F;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    margin: 3px;
    color: white;
    font-family: 'Amaranth', sans-serif;
    display: inline-block;
    font-size: 15px;
    border: .5px solid white;

}

h4 {
    display: inline-block;
}

#approveBtn img{
    margin-bottom: -12px;
}

#approveBtn {
    border-radius: 10px;
}

img {
    width: 3em;
    height: 3em%;
}

.rating img {
    width: 1.5em;
    height: 1.5em%;
    margin-bottom: 4px;
}

.rating {
    border-radius: 50px;
    padding: 10px;
    width: 40px;
    height: 40px;
}

.rating h4 {
    font-size: 20px;
    margin: 0;
}

.ratingSelected {
    background-color: rgba(255, 255, 0, 1);
}

#watermark {
    position: fixed;
    bottom: 0;
}

.ratings {
    display: flex;
}

.likes {
    flex-grow: 1;
}

.dislikes {
    flex-grow: 1;
}

ul {
    padding: 0px;
    list-style-type: none;
    color: white;
    margin: 0px;
}

.ratings h3 {
    color: white;
    margin: 10px 0px 5px 0px;
    text-decoration: underline;
}

.ratings h4 {
    color: white;
    padding: 0px;
    margin: 0;
}

#pageReload {
    background-color: #9bc53d;
    width: 20%;
    height: 40px;
    border-radius: 10px;
}

.blur {
    -webkit-filter: blur(5px); 
	-moz-filter: blur(5px); 
	-o-filter: blur(5px); 
	-ms-filter: blur(5px); 
	filter: blur(5px); 
}